<div class="container">
    <nav class="nav">
        <h1 class="header" routerLink="/"><i class="fa fa-superpowers"></i>&nbsp; &nbsp;E-Commerce Website</h1>

        <div [ngSwitch]="menuType" class="list">
            <ul *ngSwitchCase="'default'">
                <li routerLink="/">Shop</li>
                <li>Cart [{{cartCount}}]</li>
                <li routerLink="/customer-signup">Login</li>  
            </ul>

            <ul *ngSwitchCase="'customer'">
                <li routerLink="/">Shop</li>
                <li routerLink="/cart">Cart [{{cartCount}}]</li>
                <li (click)="onCustomerLogout()">Logout</li>   
                <div class="dropdown">
                    <li (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden" class="dropbtn"><i class="fa fa-info-circle"></i></li>
                    <div class="dropdown-content">
                        <a *ngIf="isHidden">&nbsp; &nbsp;{{userName}}!</a>
                    </div>    
                </div> 
            </ul>
        </div>
    </nav>
</div>

